<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>grabbers</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NMFClientId</key>
	<string>xk9h76bg46</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>주변 암장 정보를 가져오기 위해 위치 접근권한 동의가 필요합니다. 설정에서 이를 변경할 수 있습니다.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<string>주변 암장 정보를 가져오기 위해 위치 접근권한 동의가 필요합니다. 설정에서 이를 변경할 수 있습니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>주변 암장 정보를 가져오기 위해 위치 접근권한 동의가 필요합니다. 설정에서 이를 변경할 수 있습니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진 챌린지 인증을 위해 사진 라이브러리 접근권한 동의가 필요합니다. 설정에서 이를 변경할 수 있습니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/PretendardVariable.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao77ea629c4fee8e2e7ba9564fb401efab</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>77ea629c4fee8e2e7ba9564fb401efab</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
  		<string>kakaokompassauth</string>
  		<string>storykompassauth</string>
  		<string>kakaolink</string>
	</array>
</dict>
</plist>

